@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Non HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, picture, main { display: block; }

body { background-color: #000; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; color: #FFF; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { color: #FFF; -webkit-transition: .8s; transition: .8s; text-decoration: none; }
a:hover { opacity: .5; }

img { max-width: 100%; height: auto; }

header { width: 100%; margin: 0 auto 57px auto; }
header .logo { padding: 13px 0 10px 15px; }
header .logo img { max-width: 152px; }
header .visual-wrap { width: 100%; background: url(https://bit.ly/2BP9PKj) center top no-repeat; background-size: cover; }
header .visual-wrap div { width: 437px; margin: 0 auto; padding: 50px 0 50px 0; }
header .visual-wrap div img { display: block; }

main { width: 100%; margin: 0 auto 55px auto; }
main .headline { max-width: 680px; margin: 0 auto 53px auto; text-align: center; }
main .headline h1 { font-size: 29px; font-weight: 500; }
main .headline p { color: #8c8c8c; font-size: 23px; }
main .genre-wrap { width: 680px; margin: 0 auto 60px auto; }
main .genre-wrap h2 { font-size: 32px; font-weight: 600; border-left: solid 6px #33aa22; padding-left: 20px; margin-bottom: 30px; }
main .genre-wrap ul { padding-top: 30px; border-top: solid 1px #606060; }
main .genre-wrap ul li { margin-bottom: 30px; }
main .genre-wrap ul li a { display: block; padding-bottom: 30px; border-bottom: solid 1px #606060; }
main .genre-wrap ul li a dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }
main .genre-wrap ul li a dl dt { max-width: 368px; min-width: 368px; margin-right: 15px; }
main .genre-wrap ul li a dl dt img { display: block; }
main .genre-wrap ul li a dl dd h3 { font-size: 27px; font-weight: 600; }
main .genre-wrap ul li a .txt-detail { font-size: 22px; color: #8c8c8c; margin-bottom: 20px; }
main .genre-wrap ul li a .link { font-size: 32px; font-weight: 600; text-align: center; background-color: #33aa22; border-radius: 6px; padding: 10px 0 10px 0; letter-spacing: 5px; }
main .genre-wrap ul li:last-child { margin-bottom: 0px; }
main .video-promos { width: 750px; background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat; background-size: cover; padding: 44px 72px 44px 72px; margin: 0 auto 0 auto; }
main .video-promos h3 { margin-bottom: 7px; }
main .video-promos h3 img { max-width: 336px; }
main .video-promos .txt { font-size: 32px; margin-bottom: 25px; }
main .video-promos p a { display: block; color: #33aa22; font-size: 28px; font-weight: bold; padding: 17px 0 17px 0; text-align: center; border: solid 2px #33aa22; border-radius: 8px; }
main .video-promos p a:hover { background-color: #FFF; opacity: .8; }

footer { width: 680px; margin: 0 auto; padding-bottom: 40px; }
footer .other-link { width: 680px; margin: 0 auto 64px auto; }
footer .other-link a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #FFF; background-color: #171717; border-radius: 8px; width: 100%; }
footer .other-link a dl { padding: 28px 0 26px 34px; }
footer .other-link a dl img { max-width: 16px; }
footer .other-link a dl dt { color: #33aa22; font-size: 19px; margin-bottom: 8px; line-height: 1; }
footer .other-link a dl dd { font-size: 23px; line-height: 1; }
footer .other-link a img { padding-right: 33px; }
footer .copyright { line-height: 1.5; margin-bottom: 26px; }
footer .copyright li small { font-size: 16px; color: #919191; }
footer .links { margin-bottom: 24px; }
footer .links ul { line-height: 1; margin-bottom: 5px; }
footer .links ul li { display: inline-block; color: #919191; }
footer .links ul li a { display: inline-block; font-size: 16px; line-height: 1.35; color: #919191 !important; }
footer .links ul li:after { content: " \007c "; }
footer .links ul li:last-child:after { content: none; }
footer p small { font-size: 16px; color: #919191; }

@media screen and (max-width: 768px) { header { width: 100%; margin: 0 auto 8% auto; }
  header .logo { padding: 1% 0 1% 3%; }
  header .logo img { max-width: 23%; }
  header .visual-wrap { background: url(https://goo.gl/zfGwFA) center top no-repeat; background-size: cover; }
  header .visual-wrap div { width: 58%; padding: 7% 0 7% 0; }
  main { width: 100%; margin: 0 auto 9% auto; }
  main .headline { max-width: 93%; margin: 0 auto 6% auto; }
  main .headline h1 { font-size: calc(45vw/12); }
  main .headline p { font-size: calc(38vw/12); }
  main .genre-wrap { width: 93%; margin: 0 auto 8% auto; }
  main .genre-wrap h2 { font-size: calc(49vw/12); border-left: solid 0.7vw #33aa22; padding-left: 2.5%; margin-bottom: 5%; }
  main .genre-wrap ul { padding-top: 5%; }
  main .genre-wrap ul li { margin-bottom: 5%; }
  main .genre-wrap ul li a { padding-bottom: 5%; border-bottom: solid 1px #606060; }
  main .genre-wrap ul li a dl { margin-bottom: 2.5%; }
  main .genre-wrap ul li a dl dt { max-width: 53.3%; min-width: 53.3%; margin-right: 2.5%; }
  main .genre-wrap ul li a dl dd h3 { font-size: calc(47vw/12); }
  main .genre-wrap ul li a .txt-detail { font-size: calc(37vw/12); margin-bottom: 2.5%; }
  main .genre-wrap ul li a .link { font-size: calc(49vw/12); border-radius: 0.7vw; padding: 1.8% 0 1.8% 0; letter-spacing: 0.8vw; }
  main .genre-wrap ul li:last-child { margin-bottom: 0px; }
  main .video-promos { width: 100%; padding: 5% 9% 6% 9%; margin: 0 auto 0 auto; }
  main .video-promos h3 { width: 49%; margin-bottom: 1%; }
  main .video-promos h3 img { max-width: 100%; }
  main .video-promos .txt { font-size: calc(49vw/12); margin-bottom: 5%; }
  main .video-promos p a { font-size: calc(49vw/12); padding: 2% 0 2% 0; border: solid 1px #33aa22; border-radius: 4px; }
  footer { width: 93%; padding-bottom: 4%; }
  footer .other-link { width: 93%; margin: 0 auto 5% auto; }
  footer .other-link a { border-radius: 2px; }
  footer .other-link a dl { padding: 3.8% 0 3.8% 6%; }
  footer .other-link a dl img { max-width: 5%; }
  footer .other-link a dl dt { font-size: calc(30vw/12); margin-bottom: 2.5%; }
  footer .other-link a dl dd { font-size: calc(45vw/12); }
  footer .other-link a img { max-width: 6.5%; padding-right: 4%; }
  footer .copyright { margin-bottom: 4%; line-height: 1.3; }
  footer .copyright li small { font-size: calc(30vw/12); }
  footer .links { margin-bottom: 2%; }
  footer .links ul { font-size: x-small; margin-bottom: 1%; }
  footer .links ul li a { font-size: calc(30vw/12); }
  footer p small { font-size: calc(30vw/12); } }
@media screen and (max-width: 480px) { footer .copyright { line-height: 1; } }
