@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video, picture { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, picture, main { display: block; }

body { background-color: #000; }

body * { line-height: 1.45em; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; color: #FFF; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { color: #FFF; -webkit-transition: .8s; transition: .8s; text-decoration: none; }
a:hover { opacity: .5; }

img { max-width: 100%; height: auto; }

/* ここから */
header { width: 100%; margin-bottom: 31px; }
header p { display: block; padding: 12px 0 11px 17px; width: 152px; }
header div { width: 100%; background: url(https://bit.ly/2BxBcYU) top center no-repeat; background-size: cover; padding: 45px 0 44px 0; }
header div img { display: block; width: 520px; margin: 0 auto; }

main { width: 750px; margin: 0 auto 65px auto; }
main section { margin-bottom: 65px; }
main h1 { font-size: 33px; font-weight: 600; padding-bottom: 15px; border-bottom: solid 1px #606060; margin-bottom: 32px; }
main .rank-main { width: 750px; }
main .rank-main li { padding-bottom: 32px; margin-bottom: 32px; border-bottom: solid 1px #606060; }
main .rank-main li a { display: block; }
main .rank-main li a dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }
main .rank-main li a dl dt { min-width: 356px; max-width: 356px; margin-right: 20px; }
main .rank-main li a dl dd h2 { font-size: 28px; font-weight: 600; margin-bottom: 5px; }
main .rank-main li a dl dd h2 span { color: #33aa22; }
main .rank-main li a dl dd p { font-size: 23px; color: #8c8c8c; }
main .rank-main li a p { font-size: 23px; color: #8c8c8c; line-height: 1.5em; margin-bottom: 20px; }
main .rank-main li a button { width: 100%; border-radius: 5px; background-color: #33aa22; border: none; font-size: 25px; font-weight: 600; padding: 11px 0 11px 0; cursor: pointer; }
main .rank-sub { width: 750px; }
main .rank-sub li { padding-bottom: 32px; margin-bottom: 32px; border-bottom: solid 1px #606060; }
main .rank-sub li a { display: block; }
main .rank-sub li a dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
main .rank-sub li a dl dt { min-width: 226px; max-width: 226px; margin-right: 20px; }
main .rank-sub li a dl dt img { display: block; }
main .rank-sub li a dl dd h2 { font-size: 26px; }
main .rank-sub li a dl dd h2 span { color: #33aa22; }
main .rank-sub li a dl dd p { font-size: 23px; color: #8c8c8c; }
main .rank-sub li:last-child { margin-bottom: 0; }
main .link-animetop a { display: block; width: 650px; margin: 0 auto; text-align: center; font-size: 28px; font-weight: 600; color: #33aa22; border: solid 2px #33aa22; border-radius: 6px; padding: 20px 0 20px 0; }
main .link-animetop a:hover { background-color: #FFF; opacity: 1; }
main .video-promos { width: 750px; background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat; background-size: cover; padding: 44px 0 44px 0; margin: 0 auto 0 auto; }
main .video-promos .wrap { width: 680px; margin: 0 auto; }
main .video-promos .wrap h2 { margin-bottom: 15px; }
main .video-promos .wrap h2 img { max-width: 336px; }
main .video-promos .wrap p { font-size: 32px; font-weight: 600; margin-bottom: 30px; }
main .video-promos .wrap p a { display: block; color: #33aa22; font-size: 28px; font-weight: bold; padding: 25px 0 25px 0; text-align: center; border: solid 2px #33aa22; border-radius: 8px; }
main .video-promos .wrap p a:hover { background-color: #FFF; opacity: 1; }
main .video-promos .wrap p:last-child { margin-bottom: 0; }

footer { width: 750px; margin: 0 auto; }
footer small { display: block; font-size: 16px; color: #919191; margin-bottom: 32px; }
footer nav { margin-bottom: 32px; }
footer nav ul li { display: inline-block; }
footer nav ul li a { color: #919191 !important; font-size: 16px; }
footer nav ul li:after { content: ' \007c '; color: #919191; }
footer nav ul li:last-child:after { content: ''; }

@media screen and (max-width: 768px) { body * { line-height: 145%; }
  header { margin-bottom: 4%; }
  header p { padding: 2% 0 2% 2%; width: 21%; }
  header p img { display: block; }
  header div { padding: 5.2% 0 5.2% 0; }
  header div img { width: 75%; }
  main { width: 100%; margin-bottom: 7%; }
  main h1 { width: 93%; margin: 0 auto; }
  main section { width: 93%; margin: 0 auto 7% auto; }
  main h1 { font-size: calc(56vw/12); padding-bottom: 1.5%; margin-bottom: 4%; }
  main .rank-main { width: 100%; }
  main .rank-main li { padding-bottom: 4%; margin-bottom: 4%; }
  main .rank-main li a dl { margin-bottom: 3%; }
  main .rank-main li a dl dt { min-width: 53%; max-width: 53%; margin-right: 3%; }
  main .rank-main li a dl dt img { display: block; }
  main .rank-main li a dl dd h2 { font-size: calc(47vw/12); margin-bottom: 1%; }
  main .rank-main li a dl dd p { font-size: calc(40vw/12); }
  main .rank-main li a p { font-size: calc(40vw/12); line-height: 150%; margin-bottom: 2.5%; }
  main .rank-main li a button { border-radius: 3px; font-size: calc(40vw/12); padding: 1.5% 0 1.5% 0; }
  main .rank-sub { width: 100%; }
  main .rank-sub li { padding-bottom: 4%; margin-bottom: 4%; }
  main .rank-sub li a dl dt { min-width: 33%; max-width: 33%; margin-right: 3%; }
  main .rank-sub li a dl dd h2 { font-size: calc(47vw/12); }
  main .rank-sub li a dl dd p { font-size: calc(40vw/12); }
  main .link-animetop a { width: 88%; font-size: calc(47vw/12); border: solid 1px #33aa22; border-radius: 3px; padding: 3% 0 3% 0; }
  main .video-promos { width: 100%; padding: 6% 0 6% 0; margin: 0 0 3% 0; }
  main .video-promos .wrap { width: 93%; }
  main .video-promos .wrap h2 { line-height: 1; margin-bottom: 2%; }
  main .video-promos .wrap h2 img { max-width: 50%; }
  main .video-promos .wrap p { font-size: calc(47vw/12); margin-bottom: 3%; }
  main .video-promos .wrap p a { font-size: calc(47vw/12); padding: 3% 0 3% 0; border: solid 1px #33aa22; border-radius: 4px; }
  footer { width: 93%; }
  footer small { font-size: calc(30vw/12); margin-bottom: 4%; }
  footer nav { margin-bottom: 4%; }
  footer nav ul { font-size: calc(30vw/12); }
  footer nav ul li a { font-size: calc(30vw/12); } }
