@charset "UTF-8";

* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

/* Non HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture, main {
display: block;
}

body {
background-color: #000;
line-height: 1.5;
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
color: #FFF;
}
ol, ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a {
	color: #FFF;
	transition: .8s;
	text-decoration: none;
	&:hover {
		opacity: .5;
	}
}
img {
	max-width: 100%;
	height: auto;
}



header {
	width: 100%;
	margin: 0 auto 57px auto;
	.logo {
		padding: 13px 0 10px 15px;
		img {
			max-width: 152px;
		}
	}
	.visual-wrap {
		width: 100%;
		background: url(https://bit.ly/2BP9PKj) center top no-repeat;
		background-size: cover;
		div {
			width: 437px;
			margin: 0 auto;
			padding: 50px 0 50px 0;
			img {
				display: block;
			}
		}
	}
}


main {
	width: 100%;
	margin: 0 auto 55px auto;
	.headline {
		max-width: 680px;
		margin: 0 auto 53px auto;
		text-align: center;
		h1 {
			font-size: 29px;
			font-weight: 500;
		}
		p {
			color: #8c8c8c;
			font-size: 23px;
		}
	}
	.genre-wrap {
		width: 680px;
		margin: 0 auto 60px auto;
		h2 {
			font-size: 32px;
			font-weight: 600;
			border-left: solid 6px #33aa22;
			padding-left: 20px;
			margin-bottom: 30px;
		}
		ul {
			padding-top: 30px;
			border-top: solid 1px #606060;
			li {
				margin-bottom: 30px;
				a {
					display: block;
					padding-bottom: 30px;
					border-bottom: solid 1px #606060;
					color: #FFF;
					dl {
						display: flex;
						align-items: center;
						margin-bottom: 20px;
						dt {
							max-width: 368px;
							min-width: 368px;
							margin-right: 15px;
							img {
								display: block;
							}
						}
						dd {
							h3 {
								font-size: 27px;
								font-weight: 600;
							}
						}
					}
					.txt-detail {
						font-size: 22px;
						color: #8c8c8c;
						margin-bottom: 20px;
					}
					.link {
						font-size: 32px;
						font-weight: 600;
						text-align: center;
						background-color: #33aa22;
						border-radius: 6px;
						padding: 10px 0 10px 0;
						letter-spacing: 5px;
					}
				}
			}
			li:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.video-promos {
		width: 750px;
		background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat;
		background-size: cover;
		padding: 44px 72px 44px 72px;
		margin: 0 auto 0 auto;
		h3 {
			margin-bottom: 7px;
			img {
				max-width: 336px;
			}
		}
		.txt {
			font-size: 32px;
			margin-bottom: 25px;
		}
		p a {
			display: block;
			color: #33aa22;
			font-size: 28px;
			font-weight: bold;
			padding: 17px 0 17px 0;
			text-align: center;
			border: solid 2px #33aa22;
			border-radius: 8px;
			&:hover {
				background-color: #FFF;
				opacity: .8;
			}
		}
	}
}

footer {
	width: 680px;
	margin: 0 auto;
	padding-bottom: 40px;
	.other-link {
		width: 680px;
		margin: 0 auto 64px auto;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #FFF;
			background-color: #171717;
			border-radius: 8px;
			width: 100%;
			dl {
				padding: 28px 0 26px 34px;
				img { max-width: 16px; }
				dt {
					color: #33aa22;
					font-size: 19px;
					margin-bottom: 8px;
					line-height: 1;
				}
				dd {
					font-size: 23px;
					line-height: 1;
				}
			}
			img {
				padding-right: 33px;
			}
		}
	}
	.copyright {
		line-height: 1.5;
		margin-bottom: 26px;
		li {
			small {
				font-size: 16px;
				color: #919191;
			}
		}
	}
	.links {
		margin-bottom: 24px;
		ul {
			line-height: 1;
			margin-bottom: 5px;
			li {
				display: inline-block;
				color: #919191;
				a {
					display: inline-block;
					font-size: 16px;
					line-height: 1.35;
					color: #919191 !important;
				}
			}
			li:after {
				content: " \007c ";
			}
			li:last-child:after {
				content: none;
			}
		}
	}
	p small {
		font-size: 16px;
		color: #919191;
	}
}











@media screen and (max-width: 768px) {
header {
	width:100%;
	margin: 0 auto 8% auto;
	.logo {
		padding: 1% 0 1% 3%;
		img {
			max-width: 23%;
		}
	}
	.visual-wrap {
		background: url(https://goo.gl/zfGwFA) center top no-repeat;
		background-size: cover;
		div {
			width: 58%;
			padding: 7% 0 7% 0;
		}
	}
}


main {
	width: 100%;
	margin: 0 auto 9% auto;
	.headline {
		max-width: 93%;
		margin: 0 auto 6% auto;
		h1 {
			font-size: calc(45vw/12);
		}
		p {
			font-size: calc(38vw/12);
		}
	}
	.genre-wrap {
		width: 93%;
		margin: 0 auto 8% auto;
		h2 {
			font-size: calc(49vw/12);
			border-left: solid 0.7vw #33aa22;
			padding-left: 2.5%;
			margin-bottom: 5%;
		}
		ul {
			padding-top: 5%;
			li {
				margin-bottom: 5%;
				a {
					padding-bottom: 5%;
					border-bottom: solid 1px #606060;
					dl {
						margin-bottom: 2.3%;
						dt {
							max-width: 53.3%;
							min-width: 53.3%;
							margin-right: 2.5%;
						}
						dd {
							h3 {
								font-size: calc(47vw/12);
							}
						}
					}
					.txt-detail {
						font-size: calc(37vw/12);
						margin-bottom: 2.3%;
					}
					.link {
						font-size: calc(49vw/12);
						border-radius: 0.7vw;
						padding: 1.8% 0 1.8% 0;
						letter-spacing: 0.8vw;
					}
				}
			}
			li:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.video-promos {
		width: 100%;
		padding: 5% 9% 6% 9%;
		margin: 0 auto 0 auto;
		h3 {
			width: 49%;
			margin-bottom: 1%;
			img {
				max-width: 100%;
			}
		}
		.txt {
			font-size: calc(49vw/12);
			margin-bottom: 5%;
		}
		p a {
			font-size: calc(49vw/12);
			padding: 2% 0 2% 0;
			border: solid 1px #33aa22;
			border-radius: 4px;
		}
	}
}

footer {
	width: 93%;
	padding-bottom: 4%;
	.other-link {
		width: 93%;
		margin: 0 auto 5% auto;
		a {
			border-radius: 1vw;
			dl {
				padding: 3.8% 0 3.8% 3.5%;
				img { max-width: 5%; }
				dt {
					font-size: calc(30vw/12);
					margin-bottom: 2.5%;
				}
				dd {
					font-size: calc(40vw/12);
				}
			}
			img {
				max-width: 6.5%;
				padding-right: 4%;
			}
		}
	}
	.copyright {
		margin-bottom: 4%;
		line-height: 1.3;
		li {
			small {
				font-size: calc(30vw/12);
			}
		}
	}
	.links {
		margin-bottom: 2%;
		ul {
			font-size: x-small;
			margin-bottom: 1%;
			li {
				a {
					font-size: calc(30vw/12);
				}
			}
		}
	}
	p small {
		font-size: calc(30vw/12);
	}
}
}





@media screen and (max-width: 480px) {
footer {
	.copyright {
		line-height: 1;
	}
}
}