@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* Non HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, picture, main { display: block; }

body { background-color: #000; line-height: 1.3; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; color: #FFF; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { color: #FFF; -webkit-transition: .8s; transition: .8s; text-decoration: none; }
a:hover { background-color: #050505 !important; }

img { max-width: 100%; height: auto; }

/* ここから */
header { width: 100%; margin-bottom: 52px; }
header p { display: block; padding: 12px 0 11px 17px; width: 152px; }
header div { width: 100%; background: url(https://bit.ly/2BP9PKj) top center no-repeat; background-size: cover; padding: 62px 0 62px 0; }
header div img { display: block; width: 570px; margin: 0 auto; }

main { width: 680px; margin: 0 auto 32px auto; }
main section { border-bottom: solid 1px #606060; padding-bottom: 52px; margin-bottom: 52px; }
main section:nth-last-of-type(2) { border-bottom: none; padding-bottom: 0; }
main section:nth-last-of-type(1) { margin-bottom: 0; }
main h2 { font-size: 38px; font-weight: 600; border-left: solid 8px #33aa22; margin-bottom: 50px; padding-left: 18px; }
main .contents-main li { margin-bottom: 46px; }
main .contents-main li a { display: block; color: #FFF; background-color: #1a1a1a; border-radius: 8px; }
main .contents-main li a .visual { min-height: 0%; }
main .contents-main li a img { display: block; border-radius: 8px 8px 0 0; min-width: 100%; margin-bottom: 24px; }
main .contents-main li a .detail { padding: 0 20px 28px 20px; }
main .contents-main li a .detail .time { font-size: 28px; color: #ababab; margin-bottom: 2px; }
main .contents-main li a .detail h3 { font-size: 32px; font-weight: 600; margin-bottom: 21px; }
main .contents-main li a .detail .link-button { background-color: #33aa22; border-radius: 6px; font-size: 28px; font-weight: 600; padding: 22px 0 22px 0; text-align: center; }
main .contents-sub { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
main .contents-sub li { display: -webkit-box; display: -ms-flexbox; display: flex; width: 324px; margin-bottom: 37px; }
main .contents-sub li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 324px; color: #FFF; background-color: #1a1a1a; border-radius: 8px; }
main .contents-sub li a .visual { min-height: 0%; }
main .contents-sub li a img { display: block; border-radius: 8px 8px 0 0; min-width: 100%; margin-bottom: 17px; }
main .contents-sub li a .detail { padding: 0 20px 0px 20px; }
main .contents-sub li a .detail .time { font-size: 28px; color: #ababab; margin-bottom: 3px; }
main .contents-sub li a .detail h3 { font-size: 28px; font-weight: 600; margin-bottom: 15px; }
main .contents-sub li a .link-button { margin-top: auto; padding-bottom: 24px; }
main .contents-sub li a .link-button p { width: 284px; margin: 0 auto; background-color: #33aa22; border-radius: 6px; font-size: 26px; font-weight: 600; padding: 16px 0 16px 0; text-align: center; }
main .contents-sub li:nth-last-of-type(1), main .contents-sub li:nth-last-of-type(2) { margin-bottom: 0; }
main .other-link { width: 680px; margin: 0 auto 64px auto; }
main .other-link a { display: block; color: #FFF; background-color: #1a1a1a; border-radius: 8px; }
main .other-link a p { padding: 25px 33px 25px 24px; font-size: 28px; text-align: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
main .other-link a p img { max-width: 16px; }
main .other-link a p span { line-height: 1.4em; }
main .other-link a p span b { font-weight: bold; color: #33aa22; font-size: 26px; margin-bottom: 8px; }

footer { width: 680px; margin: 0 auto; padding-bottom: 32px; }
footer p small { font-size: 16px; color: #919191; margin-bottom: 32px; }
footer nav { margin-bottom: 18px; }
footer nav ul li { display: inline-block; line-height: 1.5; }
footer nav ul li a { color: #919191 !important; font-size: 16px; }
footer nav ul li:after { content: ' \007c '; color: #919191; }
footer nav ul li:last-child:after { content: ''; }

@media screen and (max-width: 768px) { header { margin-bottom: 6.5%; }
  header p { padding: 2% 0 2% 2%; width: 21%; }
  header p img { display: block; }
  header div { background: url(https://bit.ly/2BP9PKj) top center no-repeat; background-size: cover; padding: 9% 0 9% 0; }
  header div img { display: block; width: 75%; }
  main { width: 93%; margin: 0 auto 4% auto; }
  main section { padding-bottom: 7%; margin-bottom: 7%; }
  main h2 { font-size: calc(60vw/12); border-left: solid 3px #33aa22; margin-bottom: 6.5%; padding-left: 3%; }
  main .contents-main li { margin-bottom: 6%; }
  main .contents-main li a { border-radius: 4px; }
  main .contents-main li a img { border-radius: 4px 4px 0 0; margin-bottom: 3.5%; }
  main .contents-main li a .detail { padding: 0 3% 4% 3%; }
  main .contents-main li a .detail .time { font-size: calc(45vw/12); margin-bottom: 0.5%; }
  main .contents-main li a .detail h3 { font-size: calc(50vw/12); margin-bottom: 3%; }
  main .contents-main li a .detail .link-button { border-radius: 3px; font-size: calc(45vw/12); padding: 3% 0 3% 0; }
  main .contents-sub li { width: 47.5%; margin-bottom: 6%; }
  main .contents-sub li a { width: 100%; border-radius: 4px; }
  main .contents-sub li a img { border-radius: 4px 4px 0 0; margin-bottom: 3.5%; }
  main .contents-sub li a .detail { padding: 0 4.5% 0 4.5%; }
  main .contents-sub li a .detail .time { font-size: calc(45vw/12); margin-bottom: 0.5%; }
  main .contents-sub li a .detail h3 { font-size: calc(50vw/12); margin-bottom: 5%; }
  main .contents-sub li a .link-button { padding-bottom: 6%; }
  main .contents-sub li a .link-button p { width: 91%; border-radius: 3px; font-size: calc(45vw/12); padding: 4.5% 0 4.5% 0; }
  main .other-link { width: 100%; margin: 0 auto 7% auto; }
  main .other-link a { border-radius: 4px; }
  main .other-link a p { padding: 4% 4% 4% 3%; font-size: calc(50vw/12); }
  main .other-link a p img { max-width: 2.5%; }
  main .other-link a p span { line-height: 1.4em; }
  main .other-link a p span b { font-size: calc(50vw/12); margin-bottom: 4%; }
  footer { width: 93%; padding-bottom: 4%; }
  footer p small { font-size: calc(30vw/12); }
  footer nav { margin-bottom: 2%; }
  footer nav ul { font-size: calc(30vw/12); }
  footer nav ul li a { font-size: calc(30vw/12); } }
