@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Non HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, picture, main { display: block; }

body { background-color: #000; line-height: 1.45; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; color: #FFF; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { color: #FFF; -webkit-transition: .8s; transition: .8s; text-decoration: none; }
a:hover { opacity: .5; }

img { max-width: 100%; height: auto; }

header { width: 100%; margin: 0 auto 60px auto; }
header .logo { padding: 13px 0 10px 15px; }
header .logo img { max-width: 152px; }
header .headline { width: 100%; background: url(https://bit.ly/2BP9PKj) center top no-repeat; background-size: cover; text-align: center; padding: 50px 0 50px 0; }
header .headline h1 { font-size: 52px; font-weight: 600; line-height: 1; letter-spacing: 7px; margin-bottom: 20px; }
header .headline p { font-size: 23px; letter-spacing: 3px; }

main { width: 100%; margin: 0 auto 55px auto; }
main .main-contents { width: 680px; margin: 0 auto; padding: 0 0 60px 0; border-bottom: solid 1px #606060; }
main .main-contents .movie { width: 100%; position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-bottom: 20px; }
main .main-contents .movie iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
main .main-contents .timestamp { font-size: 21px; color: #8c8c8c; margin-bottom: 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
main .main-contents .timestamp:before { content: 'NEW'; background-color: #ec2840; border-radius: 4px; color: #FFF; text-align: center; display: inline-block; padding: 5px 10px 5px 10px; line-height: 1; font-size: 17px; margin-right: 21px; }
main .main-contents h2 { font-size: 28px; font-weight: 600; margin-bottom: 12px; }
main .main-contents .text { font-size: 22px; color: #8c8c8c; margin-bottom: 25px; }
main .main-contents .link a { display: block; color: #FFF; font-size: 28px; font-weight: 600; background-color: #33aa22; text-align: center; border-radius: 4px; width: 100%; padding: 14px 0 14px 0; }
main .sub-contents { width: 680px; margin: 0 auto 60px auto; }
main .sub-contents ul li a { border-bottom: solid 1px #606060; padding: 28px 0 28px 0; display: block; color: #FFF; }
main .sub-contents ul li a dl { line-height: 1.6; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
main .sub-contents ul li a dl dt { min-width: 226px; max-width: 226px; margin-right: 24px; }
main .sub-contents ul li a dl dt img { display: block; }
main .sub-contents ul li a dl dd p { font-size: 23px; color: #8c8c8c; }
main .sub-contents ul li a dl dd h2 { font-size: 22px; font-weight: 400; }
main .video-promos { width: 750px; background: url(https://bit.ly/2PW5lLG) 0 0 no-repeat; background-size: cover; padding: 44px 72px 44px 72px; margin: 0 auto 0 auto; }
main .video-promos h3 { margin-bottom: 7px; }
main .video-promos h3 img { max-width: 336px; }
main .video-promos .txt { font-size: 32px; margin-bottom: 25px; }
main .video-promos p a { display: block; color: #33aa22; font-size: 28px; font-weight: bold; padding: 17px 0 17px 0; text-align: center; border: solid 2px #33aa22; border-radius: 8px; }
main .video-promos p a:hover { background-color: #FFF; opacity: .8; }

footer { width: 680px; margin: 0 auto; padding-bottom: 40px; }
footer .other-link { width: 680px; margin: 0 auto 58px auto; }
footer .other-link a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #FFF; background-color: #171717; border-radius: 8px; width: 100%; }
footer .other-link a dl { padding: 28px 0 26px 34px; }
footer .other-link a dl img { max-width: 16px; }
footer .other-link a dl dt { color: #33aa22; font-size: 19px; margin-bottom: 8px; line-height: 1; }
footer .other-link a dl dd { font-size: 23px; line-height: 1; }
footer .other-link a img { padding-right: 33px; }
footer .copyright { line-height: 1.5; margin-bottom: 26px; }
footer .copyright li small { font-size: 16px; color: #919191; }
footer .links { margin-bottom: 24px; }
footer .links ul { line-height: 1; margin-bottom: 5px; }
footer .links ul li { display: inline-block; color: #919191; }
footer .links ul li a { display: inline-block; font-size: 16px; line-height: 1.35; color: #919191 !important; }
footer .links ul li:after { content: " \007c "; }
footer .links ul li:last-child:after { content: none; }
footer p small { font-size: 16px; color: #919191; }

@media screen and (max-width: 768px) { header { width: 100%; margin: 0 auto 8% auto; }
  header .logo { padding: 1% 0 1% 3%; }
  header .logo img { max-width: 23%; }
  header .headline { background: url(https://goo.gl/zfGwFA) center top no-repeat; background-size: cover; padding: 6.5% 0 6.5% 0; }
  header .headline h1 { font-size: calc(86vw/12); letter-spacing: 1vw; margin-bottom: 3%; }
  header .headline p { font-size: calc(41vw/12); letter-spacing: 0.3vw; }
  main { margin: 0 auto 8% auto; }
  main .main-contents { width: 91%; padding: 0 0 7% 0; }
  main .main-contents .movie { margin-bottom: 3%; }
  main .main-contents .timestamp { font-size: calc(40vw/12); margin-bottom: 2%; }
  main .main-contents .timestamp:before { content: 'NEW'; border-radius: 0.5vw; padding: 1% 1.5% 1% 1.5%; font-size: calc(30vw/12); margin-right: 3.5%; }
  main .main-contents h2 { font-size: calc(44vw/12); margin-bottom: 2%; }
  main .main-contents .text { font-size: calc(37vw/12); margin-bottom: 2%; }
  main .main-contents .link a { font-size: calc(49vw/12); border-radius: 0.5vw; padding: 2% 0 2% 0; }
  main .sub-contents { width: 91%; margin: 0 auto 7% auto; }
  main .sub-contents ul li a { padding: 4% 0 4% 0; }
  main .sub-contents ul li a dl { line-height: 1.6; }
  main .sub-contents ul li a dl dt { min-width: 33.5%; max-width: 33.5%; margin-right: 4%; }
  main .sub-contents ul li a dl dd p { font-size: calc(36vw/12); }
  main .sub-contents ul li a dl dd h2 { font-size: calc(36vw/12); }
  main .video-promos { width: 100%; padding: 5% 9% 6% 9%; margin: 0 auto 0 auto; }
  main .video-promos h3 { width: 49%; margin-bottom: 1%; }
  main .video-promos h3 img { max-width: 100%; }
  main .video-promos .txt { font-size: calc(49vw/12); margin-bottom: 5%; }
  main .video-promos p a { font-size: calc(49vw/12); padding: 2% 0 2% 0; border: solid 1px #33aa22; border-radius: 4px; }
  footer { width: 91%; padding-bottom: 4%; }
  footer .other-link { width: 100%; margin: 0 auto 5% auto; }
  footer .other-link a { border-radius: 1vw; }
  footer .other-link a dl { padding: 3.8% 0 3.8% 3.5%; }
  footer .other-link a dl img { max-width: 5%; }
  footer .other-link a dl dt { font-size: calc(30vw/12); margin-bottom: 2.5%; }
  footer .other-link a dl dd { font-size: calc(40vw/12); }
  footer .other-link a img { max-width: 6.5%; padding-right: 4%; }
  footer .copyright { margin-bottom: 4%; line-height: 1.3; }
  footer .copyright li small { font-size: calc(30vw/12); }
  footer .links { margin-bottom: 2%; }
  footer .links ul { font-size: x-small; margin-bottom: 1%; }
  footer .links ul li a { font-size: calc(30vw/12); }
  footer p small { font-size: calc(30vw/12); } }
@media screen and (max-width: 480px) { footer .copyright { line-height: 1; } }
